.Todoitem {
  margin-left: auto;
  margin-right: auto;

  border-radius: 5px;
  box-shadow: 1px 2px 5px 1px green;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.Todoitem + .Todoitem {
  margin-top: 15px;
}

.content {
  cursor: pointer;
  flex: 1;
  display: flex;
  align-items: center;
}

.content svg {
  font-size: 1.5rem;
  color: green;
}
.content .text {
  margin-left: 0.5rem;
  flex: 1;
}

.content.checked .text {
  color: green;
  text-decoration: line-through;
  cursor: pointer;
  opacity: 0.8;
}
